<footer class="fixed-bottom footer">
  <div
    class="col-md-12 d-flex flex-row d-flex justify-content-between bg-white pt-3"
  >
    <div class="d-flex flex-column align-items-center ml-1">
      <a href="/dashboard" style="color: #0c2d48">
        <span class="material-icons pl-1" style="font-size: 40px">
          dashboard</span
        >
      </a>
      <p class="text-black">Dashboard</p>
    </div>

    <div class="d-flex flex-column align-items-center ml-4">
      <a href="/newgroup" style="color: #0c2d48">
        <span class="material-icons" style="font-size: 40px"> add_circle </span>
      </a>
      <p class="text-black text-center">New Group</p>
    </div>
    <div class="d-flex flex-column align-items-center ml-4">
      <a href="/user-profile" style="color: #0c2d48">
        <span class="material-icons" style="font-size: 40px">
          perm_identity
        </span>
      </a>
      <p class="text-black text-center">User Profile</p>
    </div>
  </div>
</footer>
