<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/dashboard">
      <img
        src="/images/logo_transparent.png"
        class="me-2"
        height="20"
        alt="Budgetier Logo"
        loading="lazy"
      />
      <small><strong>Budgetier</strong></small>
    </a>
    <ul class="nav navbar-nav navbar-right flex-row justify-content-around">
      <li class="nav-item"></li>
      <li class="nav-item mt-2 pl-5">
        <form id="logout" action="/logout?_method=DELETE" method="POST">
          <label>
            <input class="btn btn-danger" type="submit" value="Log Out" />
          </label>
        </form>
      </li>
    </ul>
  </div>
</nav>
