<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        src="images/logo_transparent.png"
        class="me-2"
        height="30"
        alt="Budgetier Logo"
        loading="lazy"
      />
      <small><strong>Budgetier</strong></small>
    </a>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="btn btn-info sans-reg pr-4 pl-4" href="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
