<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/dashboard">
      <img
        src="/images/logo_transparent.png"
        class="me-2"
        height="20"
        alt="Subscribed Logo"
        loading="lazy"
      />
      <small><strong>Budgetier</strong></small>
    </a>
    <ul class="nav navbar-nav navbar-right flex-row justify-content-around">
      <li class="nav-item">
        <a class="nav-link pr-2 text-dark" href="/user-profile">My Account </a>
      </li>
      <li class="nav-item">
        <a class="nav-link pr-2 text-dark" href="/dashboard">My Dashboard </a>
      </li>
      <li class="nav-item pl-5">
        <!-- <form id="logout" action="/logout?_method=DELETE" method="POST">
          <input type="submit" value="Logout" />
        </form> -->
        <form id="logout" action="/logout?_method=DELETE" method="POST">
          <label>
            <input class="btn btn-secondary" type="submit" value="Log Out" />
          </label>
        </form>
      </li>
    </ul>
  </div>
</nav>
