<%- include('partials/header'); -%> <br /><br /><br />

<div class="container">
  <div class="row">
    <div class="col">
      <img src="images/Mar-Business_11-removebg-preview.png" />
    </div>
    <div class="col mx-auto">
      <p>
        <br />
        <br />
        We know how hard it is to manage all your monthly spending. With
        Subscribe'd you'll be able to keep all your expenses in one place and
        where you're spending on each month. All for the price of $0. That's our
        promise to you.
      </p>
      <br />
      <div class="col text-center">
        <a class="btn btn-primary btn-lg" href="/signup">Sign Up</a>
      </div>
    </div>
  </div>
</div>
