<!DOCTYPE html>
<html>
  <%- include('partials/head'); -%> <%- include('partials/navbar-nologin'); -%>
  <br /><br /><br />

  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <img
          style="max-width: 80%"
          src="images/Mar-Business_11-removebg-preview.png"
        />
      </div>
      <div class="col-12 text-center">
        <p>
          <br />
          We know how hard it is to track your vacation expenses. With Budgetier
          you'll be able to keep all your expenses in one place and where you're
          spending on each vacation. All for the price of $0. That's our promise
          to you.
        </p>
        <br />
        <div class="col text-center">
          <a class="btn btn-primary btn-lg" href="/signup">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</html>
