h1 {
  color: white;
}

.logo-image {
  width: 64px;
  height: 64px;
  overflow: hidden;
}

.name {
  font-size: 1.4rem;
}

#expenseChart {
  display: none;
}

.cyan {
  background-color: $cyan-200;
}
